@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

/*
font-family: 'Gloria Hallelujah', cursive;
*/

body {
	font-family: 'Gloria Hallelujah', cursive;
	background-color: #06d1f7;
	color: #ffffff;
}

header {
	width: 70%;
	margin: 0 auto;
}

h1 {
	font-size: 3em;
}
.gameTitle, .gameImg {
	float: left;
}
.gameImg {
	height: 20%;
	width: 20%;
	
}
.main {
	clear: both;
}
#wordFill div {
	float: left;
}
#guessMade div {
	float: left;
}
